<% include partials/header.html %>

<div class="container">
    <header class="jumbotron">
        <div class="container>">
            <h1>welcome to Slangy</h1>
            <p>Learn language with native speaker from all over the world</p>
        </div>
    </header>
    <div class="row text-center">
        <div class="col-md-12">
            <table class="table table-striped">
                <caption>List of users</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Birth</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Languages</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="user-list">
                    <tr v-for="user in users">
                        <td>{{ user._id }}</td>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birth }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.languages }}</td>
                        <td>
                            <button class="btn btn-primary"  v-on:click="invite(user._id)">Invite</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <script src="/javascript/index.js"></script> -->
<script>
new Vue({
    el: '#user-list',
    data: {
        users: [],
        tu: '',
        fu: '5acce5bb1d6ea339790ee268'
    },
    created: function () {
        this.init();
    },
    methods: {
        init: function () {
            // GET /someUrl
            this.$http.get('/api/users').then(response => {
                // get body data
                this.users = response.body;
            }, response => {
                // error callback
                console.log(response);
            });
        },
        invite: function (id) {
            alert(id);
        }
    }
});
</script>

<% include partials/footer.html %>