<% include partials/header.html %>

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <table class="table table-striped">
                <caption>List of applied posts</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col">Applicants</th>
                        <th scope="col">Teach</th>
                        <th scope="col">Learn</th>
                        <th scope="col">Prefered Topic</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="user-list">
                    <% applied_posts.forEach(function (post) { %>
                    <tr>
                        <td><%= post.fu_username %></td>
                        <td><%= post.applicants  %></td>
                        <td><%= post.teach_lang  %></td>
                        <td><%= post.learn_lang  %></td>
                        <td><%= post.topics      %></td>
                        <td><%= post.comment     %></td>
                        <td><%= post.status %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <table class="table table-striped">
                <caption>List of my posts</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col">Applicants</th>
                        <th scope="col">Teach</th>
                        <th scope="col">Learn</th>
                        <th scope="col">Prefered Topic</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="user-list">
                    <% my_posts.forEach(function (post) { %>
                    <tr>
                        <td><%= post.fu_username %></td>
                        <td><%= post.applicants  %></td>
                        <td><%= post.teach_lang  %></td>
                        <td><%= post.learn_lang  %></td>
                        <td><%= post.topics      %></td>
                        <td><%= post.comment     %></td>
                        <td><%= post.status %></td>
                        <td>
                            <a class="btn btn-primary" href="/posts/<%= post._id %>/edit">Edit</a>
                        </td>
                        <td>
                            <form action="/relationships" method="POST">
                                <input type="text" name="rs[user_id]" value="<%= post.fu_id %>" style="display: none;">
                                <input type="text" name="rs[user_id]" value="<%= post.applicants[0] %>" style="display: none;">
                                <button class="btn btn-primary">Approve</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include partials/footer.html %>