<% include partials/header.html %>

<div class="container">
    <div class="row text-center">
        <div class="col-md-3">
            <img src="<%= user.image %>" class="img-thumbnail">
        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Birth</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Languages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= user.username       %></td>
                        <td><%= user.fullname      %></td>
                        <td><%= user.email     %></td>
                        <td><%= user.birth     %></td>
                        <td><%= user.gender    %></td>
                        <td><%= user.languages %></td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-warning" href="/users/<%= user._id %>/profile/edit">Edit</a>
        </div>
    </div>
</div>

<% include partials/footer.html %>